.classpath
.project
.springBeans
.settings/
target/
*.iml
.idea/
.svn/
.gradle
*.sw?
.#*
*#
*~
/build
/code
.settings
.metadata
.factorypath
.recommenders
bin
build
lib/
target
.factorypath
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
.DS_Store
.factorypath
dump.rdb
transaction-logs
*.java.hsp
*.sonarj
*.sw*
.springBeans
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
argfile*
classes/
buildSrc/build
/src/asciidoc/build
# IDEA artifacts and output dirs
*.ipr
*.iws
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
