#main_content_top{
	width: 20%;
	height: 50px;
	font-size: 30px;
	color: #215dc6;
	margin: 20px 0px 0px 40%;
}

#main_content_main{
	width: 80%;
	margin: 0px 10%;
}

table[id="content_table"]{
	width: 45%;
	margin: 20px 20%;
	border:1px solid #6595D6;
	height: 150px;
}

table[id="content_table"] td{
	border: 1px solid #FFFFFF;
	border-left: 0px;
	border-bottom: 0px;
	font-size: 14px;
	
}

table td span{
	color: #215dc6;
	font-size: 14px;
}

#main_content_tips{
	margin: 0px 17%;
}

#main_content_tips span{
	font-size: 14px;
	color:215dc6;
}

#main_content_tips span[id="title"]{
	color:red;
}


