#main_content_top{
	width: 25%;
	height: 50px;
	font-size: 30px;
	color: #215dc6;
	margin: 20px 0px 0px 40%;
}

#main_content_main{
	width: 80%;
	height: 70%;
	margin: 0px 10%;
}

table[id="storage"]{
	width: 80%;
	border: 1px solid #6595D6;
	margin: 50px 10%;
}

table[id="storage"] tr{
	height: 30px;
}

table[id="storage"] td{
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	font-size: 14px;
}

table[id="storage"] td span{
	color: #215dc6;
}

#main_content_top_btn{
	width: 150px;
	height: 30px;
	float: right;
}

#add_btn{
	background-image: url("../../images/backstage/addStorage.jpg");
	width: 100px;
	height: 26px;
	border: 0px;
}

table[id="addStorage"]{
	width: 75%;
	margin: 50px 20%;
}

table[id="addStorage"] tr{
	height: 35px;
}

table[id="addStorage"] td{
	font-size: 14px;
}

.addText{
	width: 210px;
	height: 27px;
}

.tips_prompt{
	font-size: 14px;
	color: #215dc6;
}

.error_prompt{
	font-size: 14px;
	color: red;
}
	